a{
	color:#464646;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
}
a:hover{
	color:#464646;
	text-decoration: none;
}
a:visited{
	color:#464646;
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none;
}
a:active{
	color:#464646;
	text-decoration: none;
}
body{
	font-family:"Oswald", sans-serif;
	height:100%;
	width:98%;
	margin: 3px auto;
	max-width:1350px;
	letter-spacing: .024em;
}
h1{
	color:#0F0F11;
	font-size: 25px;
	line-height: 1.2;
	text-transform: uppercase;
}
h2{
	color:#0F0F11;
	font-size:22px;
	text-transform: uppercase;
}
h3{
	color:#0F0F11;
	font-size:13px;
	line-height:1.5;
	margin:0px;
	padding:0px;
	text-transform: uppercase;
}
hr{
	height: 1px;
	width:100%;
	background:#000;
	margin:0px;
	top:0px;
	right:0px;
}
html{
	height:100%;
	width:98%;
	margin: 3px auto;
	max-width:1350px;
}
img{
	max-width:100% !important;
}
p{
	color:#464646;
	font-family: "Source Sans Pro", sans-serif;
	font-size:12px;
}
.about a{
	margin-top:40px;
	text-decoration: underline;
	font-size:13px;
}
.about a:hover{
	text-decoration: none;
}
.about a:visited{
	margin-top:40px;
	text-decoration: underline;
	font-size:13px;
}
.about a:active{
	text-decoration: none;
}
.blog{
	height:100%;
	overflow:scroll;
}
.col-full-height{
	height:100%;
}
.displaynonetest{
	display: none !important;
}
.link2:hover{
	text-decoration:none !important;
}
.logo{
	top:38%;
	position:absolute;
}
.overlay{
	color:#000;
	position:absolute;
    top:19.5px;
    left:0;
    width:83%;
    height:85%;
    font-size:12px;
	left:15px;
	line-height:.5;
	padding:5px 5px 10px 5px;
	position:absolute;
	text-decoration: none;
	text-transform:uppercase;
	top: 19px;
}
.overlay a{
	font-size:11px;
	font-weight:900;
}
.overlay:hover a{
	color:#0000ff;
	transition: color .35s ease-in-out;
	 -moz-transition: color .35s ease-in-out;
  	 -webkit-transition: color .35s ease-in-out;
}
.overlay a:visited{
	font-size:11px;
	font-weight:900;
	text-decoration: none;
}
.overlay a:active{
	color:#0000ff;
	text-decoration:none;
}
.project{
	margin-top:20px;
}
.project img{
	width:100%;
	height:100%;
	margin-top: 10px;
	margin-bottom:10px;
}
.project a{
	margin-top:40px;
	text-decoration: underline;
	font-size:13px;
}
.project a:hover{
	text-decoration: none;
}
.project a:visited{
	margin-top:40px;
	text-decoration: none;
	font-size:13px;
}
.project a:active{
	text-decoration: none;
}
.sidebar{
	height:100%;
	margin-left:0px;
	overflow:auto;
	line-height: .5;
}
.sidebar a{
	font-family:"Oswald", sans-serif;
	text-decoration: none;
}
.sidebar a:hover{
	color:#0000ff;
}
.sidebar a:visited{
	font-family:"Oswald", sans-serif;
	text-decoration: none;
}
.sidebar a:active{
	color:#0000ff;
	text-decoration: none;
}
.work{
	overflow: scroll;
	height:100%;
}
.work-one{
	height:100%;
}
.work-two{
	height:100%;
}